/* Horizontal header */
h1 {
	font: bold 48px Oswald;
	color: #202020; 
	}

/* Vertical header */
h2 {
	position: absolute;
	font: bold 100px Oswald;
	color: #fff;
	width: 1000px;   
	height: 100px;
    	text-align: left;
	-ms-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	-o-transform: rotate(270deg);
    	margin-top: 15%;
    	margin-left: -328px;    
	}

body {
	background-color: #202020;
    	background-image: url('images/background2.png');
    	background-repeat: no-repeat;
    	background-attachment: fixed;
	font: bold 24px Oswald;
	color: #202020;     
	}

/* Removes line from under links */
a:hover, a:visited, a:link, a:active
	{
    text-decoration: none;
	}

/* Default button */
.basic_button {
	background: #ee2c2c;
	color: #fff;
    	font: 16px Oswald;
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
    	border-style: solid;
    	border-color: #ee2c2c;
	}
	
.basic_button:hover {
	background: #cd2626;
    	border-color: #cd2626;
	}

/* Default button with width constraint */
.basic_button2 {
	display: block;
	background: #ee2c2c;
	color: #fff;
	width: 160px;
    	font: 16px Oswald; 
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
    	border-style: solid;
    	border-color: #ee2c2c;
	}

.basic_button2:hover {
	background: #cd2626;
    	border-color: #cd2626;
	}

/* Default my portal button */
.myportal_button {
    	display: block;
	background: #ee2c2c;
	width: 400px;
	height: 70px;
    	text-align: left;
	text-indent: 30px; /*20*/
	padding: 0 0 0 0;
    	font: 58px Oswald;
    	color: #fff;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	}
 
.myportal_button:hover {
	background: #cd2626;
	font-size: 280%;    
	}

/* My portal button with profile image */
.profile_button {
	display: block;
	background: #ee2c2c;
	width: 400px;
	height: 70px;
	text-align: left;
	padding: 0 0 0 0;
	font: 58px Oswald;
	color: #fff;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	-moz-border-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	}

.profile_button:hover {
	background: #cd2626;
	font-size: 280%;    
	}

.delete_link {
	color: #202020;
	}

.delete_link:hover {
	font-size: 125%;
	}

/* Sets two columns for all pages where the first column is the vertical bar and the second is the page content. */
.page_table {
    width: 1200px;
    padding: 0;
    }

.page_table tr {
    padding: 0;
    }

.page_table td {
    padding: 0;
    }

.page_table td:first-child {
    width: 250px;
    }

.page_table td:second-child {
    width: 950px;
    }

/* Default form table with first column right-aligned 
    appears on register.php, editaccount.php, editperson.php */
.table1 {
    border: 0;
    background: #fff;
    color: #202020;
    font-size: 20px;
    }

.table1 td:first-child {
    text-align: right;
    }

/* Default form table with width constraint
    appears on addjournal.php, viewjournal.php, editjournal.php */
.table2 {
    border: 0;
    background: #fff;
    color: #202020;
    font-size: 20px;
    width: 500px;    
    }

/* Form table that used to have border, now indents on left-aligned columns
    appears on allergies.php, journal.php */
.table3 {
    border: 0;
    background: #fff;
    color: #202020;
    font-size: 16px;
    width: 750px;
    }

.table3 td {
    text-indent: 10px;
    }

/* Default form table, forced center 
    appears on avatar.php */
.table4 {
    border: 0;
    background: #fff;
    color: #202020;
    text-align: left;  
    }

.table4 td:first-child {
    width: 50px;
    }

/* Default form table, 
    appears on personhome.php */
.table5 {
    border: 0;
    background: #fff;
    color: #202020;
    text-align: center;  
    }

.table5 td:first-child {
    width: 50px;
    }

.table5 th {
    font-size: 20px;
    }

/* Default form table with first column right-aligned, forced center
    appears on edit files */
.table6 {
    border: 0;
    background: #fff;
    color: #202020;
    font-size: 20px;
    }

.table6 td:first-child {
    text-align: right;
    width: 50px;
    }

.wrapper {  
    width: 1024;
    }

/*
List items don't have bullets or numbers
menu.html
*/
ul,
li {
  list-style-type: none;
  margin: 0;
}

/*
Links are white 
menu.html
*/
#menu-list a {
  font-family: "Oswald";
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 175%;
}

#menu-list a:hover,
#menu-list a:active {
font-size:175%;
}


/*
Link hover and active
This allows people to see which link they are hovering over
menu.html
*/
a:hover,
a:active {
font-size:175%;
}

/*
Top bar that shows up on every page
menu.html
*/
.top {
  height: 75px;
  background-color: #ee2c2c;
}

/*
Medawigi that goes in the top bar 
menu.html
*/
#logo img {
  position: absolute;
  left: 10px;
  height: 85px;
}

/*
The list of links 
menu.html
*/
#menu-list {
  right: 0px;
  position: absolute;
  visibility: hidden;
  margin-top: 67px;
  float: right;
  width: 200px;
  background-color: #202020;
}
/*
Sammich is the Hamburger menu button
associated with menu.html
*/

.sammich {
  position: absolute;
  right: 10px;
margin-top:5px;  
width: 50px;
  height: 50px;
  float: right;
}

/*
rounded textboxes for text fields
*/
input[type="text"] {
  height: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Oswald;
  line-height: 30px;
  display: inline-block;
  *display: inline;
  /* for IE7*/
  
  zoom: 1;
  /* for IE7*/
  
  vertical-align: middle;
}

/*
input for email makes it rounded!
*/
input[type="Email"] {
  width: 200px;
  height: 30px;
  //rounded corners
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Oswald;
  line-height: 30px;
  display: inline-block;
  *display: inline;
  /* for IE7*/
  
  zoom: 1;
  /* for IE7*/
  
  vertical-align: middle;
}

/*
all text areas will have round edges!
*/
textarea {
  //rounded corners
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Oswald;
  line-height: 30px;
  display: inline-block;
  *display: inline;
  /* for IE7*/
  
  zoom: 1;
  /* for IE7*/
  
  vertical-align: middle;
}

/*
rounded edges on password field
*/ 
input[type="password"] {
  width: 200px;
  height: 30px;
  //rounded corners
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Oswald;
  line-height: 30px;
  display: inline-block;
  *display: inline;
  /* for IE7*/
  
  zoom: 1;
  /* for IE7*/
  
  vertical-align: middle;
}

#log input[type="submit"] {
	display: block;
	background: #ee2c2c;
	color: #fff;
	width: 160px;
    	font: 16px Oswald; 
	-webkit-border-radius: 12px;
	-khtml-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
    	border-style: solid;
    	border-color: #ee2c2c;
	
}
/*
contact.html uses this
*/
select {
  //rounded corners
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: Oswald;
  line-height: 30px;
  display: inline-block;
  *display: inline;
  /* for IE7*/
  zoom: 1;
  /* for IE7*/
  vertical-align: middle;
}	
