h2{
	color: #1490CC;
}

body {
	background-color: #202020;
	color: #1490CC;
	}

a:hover, a:visited, a:link, a:active
	{
    text-decoration: none;
	}

.basic_button{
	background: #FF5440;
	color: #fff;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    border-style: solid;
    border-color: #FF5440;
	}
	
.basic_button:hover{
	background: #CC142E;
    border-color: #CC142E;
	}

.profile_button {
 display: block;
 background: #FF5440;
 width: 600px;
 height: 50px;
 text-align: center;
 padding: 30px 0 0 0;
 font: 1.2em/12px Verdana, Arial, Helvetica, sans-serif;
 color: #fff;
 text-decoration: none;
 -webkit-border-radius: 30px;
 -khtml-border-radius: 30px;
 -moz-border-radius: 30px;
 border-radius: 30px;
 margin-left:auto;
 margin-right:auto;
 
    background-image: url("profilepic.png");
	background-size: 90px auto;
    background-repeat: no-repeat; 
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    padding-left: 16px;   
    vertical-align: middle;
 }

.profile_button:hover {
 background: #CC142E;
 
    background-image: url("profilepic.png");
	background-size: 90px auto;
    background-repeat: no-repeat; 
    background-position: 0px 0px; 
    border: none;   
    cursor: pointer; 
    padding-left: 16px; 
    vertical-align: middle;
 }
 
.myportal_button {
 display: block;
 background: #FF5440;
 width: 600px;
 height: 50px;
 text-align: center;
 padding: 30px 0 0 0;
 font: 1.2em/12px Verdana, Arial, Helvetica, sans-serif;
 color: #fff;
 text-decoration: none;
 -webkit-border-radius: 30px;
 -khtml-border-radius: 30px;
 -moz-border-radius: 30px;
 border-radius: 30px;
 margin-left:auto;
 margin-right:auto;
 }
 
.myportal_button:hover {
 background: #CC142E;
 }